@import "./Generic/fonts";
@import "./Settings/variables";
@import "./Tools/mixins";


body {
    background-color: $pale-blue;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
        .container {
            background-color: $very-pale-blue;
            font-family: $red-hat-display;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;

            .text {
                h1,
                h4 {
                    text-align: center;
                }
            
                h1 {
                    color: $dark-blue;
                    margin-top: 0;
                    font-weight: 900;
                }
            
                h4 {
                    font-weight: 500;
                }
            
                h4,
                p {
                    color: $gray;
                }
            }

            
            .bill-charge{
                background-color: $desaturated-blue;
                border-radius: 10px;            
                margin-bottom: 30px;

                .icon-music {
                    height: 48px;
                    width: 48px;
                }
    
                h6 {
                    font-weight: 900;
                }

                a {
                    color: $bright-blue;

                    &:hover {
                        text-decoration: none;
                        color: hsla(245, 75%, 52%, 0.5);
                    }
                }

                .price {

                    h4 {
                        margin-bottom: 0px;
                        font-weight: 900;
                        color: $dark-blue;
                    }

                    p {
                        margin-top: 3px;
                        color: $gray;
                        font-weight: 500;
                    }
                }
            }


            .buttons {
                display: flex;
                flex-flow: column wrap;
                align-items: center;

                button {
                    background-color: $bright-blue;
                    color: $pale-blue;
                    padding: 15px 70px;
                    border-radius: 10px;
                    font-family: $red-hat-display;
                    font-weight: 900;
                    border: none;
                    box-shadow: 0px 10px 15px 2px $bright-blue2;
                    width: 100%;
                    
                    &:hover{
                        background-color: hsla(245, 75%, 52%, 0.5);
                    }
                    
                }
                
                a {
                    font-family: $red-hat-display;
                    font-weight: 900;
                    color: $gray;
                    padding-top: 25px;

                    &:hover {
                        color: $dark-blue;
                    }
                }
            }
            
        }
}

footer {
    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}



@include min-width;
@include max-width;