@import "./Generic/fonts";
@import "./Settings/variables";
@import "./Tools/mixins";


body {
    background-color: $pale-blue;

        .container {
            background-color: $very-pale-blue;
            font-family: $red-hat-display;

            .text {
                h1,
                h4 {
                    text-align: center;
                }
            
                h1 {
                    color: $dark-blue;
                    margin-top: 0;
                    font-weight: 900;
                }
            
                h4 {
                    font-weight: 500;
                }
            
                h4,
                p {
                    color: $gray;
                }
            }

            
            .bill-charge{
                background-color: $desaturated-blue;
                border-radius: 10px;

                display: flex;
                flex-flow: row nowrap;
                justify-content: space-evenly;
                align-items: center;
                margin-bottom: 30px;
                
                h6 {
                    font-weight: 900;
                }

                a {
                    color: $bright-blue;

                    &:hover {
                        text-decoration: none;
                        color: hsla(245, 75%, 52%, 0.5);
                    }
                }

                .price {
                    text-align: center;

                    h4 {
                        margin-bottom: 0px;
                        font-weight: 900;
                        color: $dark-blue;
                    }

                    p {
                        margin-top: 3px;
                        color: $gray;
                        font-weight: 500;
                    }
                }
            }


            .buttons {
                display: flex;
                flex-flow: column wrap;
                align-items: center;

                button {
                    background-color: $bright-blue;
                    color: $pale-blue;
                    padding: 15px 70px;
                    border-radius: 10px;
                    font-family: $red-hat-display;
                    font-weight: 900;
                    border: none;
                    box-shadow: 0px 10px 15px 2px $bright-blue2;
                    width: 100%;
                    
                    &:hover{
                        background-color: hsla(245, 75%, 52%, 0.5);
                    }
                    
                }
                
                a {
                    font-family: $red-hat-display;
                    font-weight: 900;
                    color: $gray;
                    padding-top: 25px;

                    &:hover {
                        color: $dark-blue;
                    }
                }
            }
            
        }
}

footer {
    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}



@media (max-width: 800px) {
    .container {
        border-radius: 25px;
        margin: 50px 20px;

        img {
            //vertical-align: middle;
            height: 180px;
            width: 100%;
            display: block;
            border-radius: 20px 20px 0px 0px;
        }

        .pd-25 {
            padding: 25px;
        }
    }
}

@media (min-width: 801px) {
    .container {
        border-radius: 15px;
        margin: 100px 550px;

        img {
            //vertical-align: middle;
            height: 180px;
            width: 100%;
            display: block;
            border-radius: 15px 15px 0px 0px;
        }

        .pd-45{
            padding: 45px;
        }
    }
}