//Colors
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$bright-blue2: hsla(245, 75%, 52%, 0.315);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: rgba(114, 128, 167, 0.06);
$dark-blue: hsl(223, 47%, 23%);
$gray: hsl(224, 23%, 55%);